@import url('https://fonts.googleapis.com/css2?family=Barrio&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family:  'Montserrat', sans-serif;
}
body{
    background-color: #F7EBEC;
    height: 100vh;
}
.navbar{
    background-color: #824C71;
}
.navbar-brand{
    font-size: 28px;
    color: #F7EBEC;
    font-family: 'Barrio', system-ui;
}
.nav-link{
    font-size: 18px;
    color: #F7EBEC;
}
.btn-purple{
    background: #DDBDD5;
    color: #322214;
    border-radius: 8px;
}
.btn-purple:hover{
    background: #C9A3B8;
    color: #322214;
}
.container h1{
    text-align: center;
    font-size: 60px;
    color: #4A2545;
    margin-top: 30px;
    font-family: 'Barrio', system-ui;
    font-weight: 400;
}
.container p{
    text-align: center;
    font-size: 20px;
    color: #322214;
    margin-top: 5px;
}
.vertical-center {
    justify-content: center;
    align-items: center;
}
.btn-home{
   background: #824C71 ;
   color:#F7EBEC;
   border-radius: 8px;
   justify-content: center;
   margin: 20px;
}
.btn-home:hover{
    background: #6B3A5B;
    color: #F7EBEC;
}
.carousel-item img{
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}
.carrusel-pequeno{
    max-width: 800px; 
    margin: 0 auto;
}
h3{
    text-align: center;
    font-size: 35px;
    color: #4A2545;
    margin-top: 30px;
    font-family: 'Barrio', system-ui;
    font-weight: 400;
}
.login-box{
    display: flex;
    flex-direction: column;
    background-color:rgba(247, 235, 236,0.4);
    padding: 40px;
    border-radius: 10px;
}
.input-box input{
    width: 100%;
    padding: 13px 13px;
    border: 1px solid #4A2545 ;
    outline: none;
    border-radius: 8px;
    
    
}
.input-box{
    position: relative;
    width: 100%;
    max-width: 250px;
}
.input-box label{
    position: absolute;
    top: 15px;
    left: 13px;
    color: #4A2545;
    transition: .3s;
   
    
}
.input-box input:focus + label,
.input-box input:valid + label{
    top: -9px;
    color: #F7EBEC;
    background-color: #4A2545;
    padding: 2px 7px;
    border-radius: 12px;
    font-size: 12px;

}
.p-login{
    text-align: center;
    font-size: 15px;
    color: #322214;
    margin-top: 10px;
}
p a{
    color: #4A2545;
    text-decoration: none;
}
p a:hover{
    text-decoration: underline;
}
.img-login{
    width: 110%;
    max-height: 600px;
    object-fit: cover;
    border-radius: 10px;
    align-items: center;
}
.login-container{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.row{
   background-color: #F7EBEC;
   border-radius: 20px;
}
#frmlogin{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#frmregistro{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*chat*/
.chat-side {
        background: white;
        border-radius: 15px;
        box-shadow: 0 8px 20px rgba(88, 88, 88, 0.719);
        padding: 0;
        display: flex;
        flex-direction: column;
        height: 500px;
    }

    .chat-header {
        background: #0d6efd;
        color: white;
        padding: 15px;
        font-weight: bold;
        border-radius: 15px 15px 0 0;
        text-align: center;
    }

